.header {
  padding-top: 40px;
}

.header-inner {
  font-size: 14px;
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  cursor: pointer;
  margin: 0 10px 0 35px;
}

.header__cart:hover svg {
  fill: #c7b299;
}

.header__cart-svg {
  -webkit-transition: .15s;
  transition: .15s;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.header__search {
  cursor: pointer;
  margin: 0 10px;
}

.header__search:hover svg {
  fill: #c7b299;
}

.header__search-svg {
  -webkit-transition: .15s;
  transition: .15s;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.header-nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  margin: 0 13px;
  color: #ffffff;
  -webkit-transition: .1s;
  transition: .1s;
}

.header-nav__item:hover {
  text-decoration: none;
  color: #c7b299;
}

.header-active {
  color: #c7b299;
}

.hero {
  position: relative;
  background: url("../img/hero-bg.jpg") no-repeat;
  height: 100vh;
}

.hero-inner {
  margin: 0 150px;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-slider {
  max-width: 650px;
  text-align: center;
  color: #fff;
}

.hero-slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-slider_dots__item {
  margin: 0 5px;
  background: #998675;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.hero-slider__arrowl {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.hero-slider__arrowl:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-slider__arrowr {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.hero-slider__arrowr:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__title {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 36px;
}

.hero__subtitle {
  font-family: Montserrat, sans-serif;
  font-size: 52px;
  font-weight: 800;
}

.hero__discription {
  font-family: Raleway, sans-serif;
  margin: auto;
  max-width: 540px;
  font-size: 16px;
  font-weight: 300;
}

.hero__button {
  margin-top: 50px;
  font-size: 14px;
  width: 170px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  height: 50px;
  -webkit-box-shadow: 0 3px #6d6054;
          box-shadow: 0 3px #6d6054;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  background: #998675;
  -webkit-transition: .15s;
  transition: .15s;
}

.hero__button:hover {
  background: #807062;
}

.services {
  padding-top: 80px;
}

.services-inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-inner_block {
  width: 25%;
  text-align: center;
}

.services-inner_block:hover .services-svg {
  fill: #c7b299;
}

.services-inner_block:hover .services__title {
  color: #c7b299;
}

.services-inner_block:hover .services__text::after {
  background: #c7b299;
}

.services-inner_block:hover .services__text {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services__title {
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 22px;
  font-family: Montserrat, sans-serif;
}

.services__text {
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 14px;
  font-family: Monsterrat, sans-serif;
}

.services__text::after {
  -webkit-transition: .4s;
  transition: .4s;
  content: '';
  display: block;
  height: 3px;
  width: 30%;
  background: #f1eee9;
  margin: auto;
  margin-top: 30px;
}

.services-image {
  height: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-svg {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
}

.browser-inner {
  padding-top: 160px;
  text-align: center;
}

.browser__title {
  font-size: 30px;
}

.browser__subtitle {
  display: inline-block;
  font-size: 16px;
  line-height: 28px;
  max-width: 770px;
}

.browser-img {
  margin-top: 40px;
}

.browser-purchase {
  background: #3f2c22;
  color: #fff;
}

.browser-purchase-inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.browser-purchase__discription {
  font-size: 28px;
  margin: 0;
}

.browser-purchase__secondDiscription {
  font-size: 18px;
  color: #615855;
}

.browser-purchase__button {
  font-size: 14px;
  width: 170px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  height: 50px;
  -webkit-box-shadow: 0 3px #6d6054;
          box-shadow: 0 3px #6d6054;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  background: #998675;
  -webkit-transition: .15s;
  transition: .15s;
}

.browser-purchase__button:hover {
  background: #807062;
}

.latest-inner {
  padding-top: 80px;
  text-align: center;
}

.latest__title {
  margin: 0;
  font-size: 30px;
}

.latest__subtitle {
  font-size: 16px;
  display: block;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  color: #8c8c8c;
}

.latest-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
  max-width: 700px;
  font-size: 14px;
  color: #8c8c8c;
}

.latest-nav_item {
  margin: 0 8px;
  margin-top: 15px;
  padding: 5px 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.latest-nav_item:hover {
  color: #fff;
  background: #998675;
}

.latest-nav-active {
  background: #998675;
  color: #fff;
  border: none;
}

.latest-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.latest-block__triangle {
  -webkit-transition: .2s;
  transition: .2s;
  margin-left: 25px;
  width: 0;
  height: 0;
  border: 12px solid #ffffff00;
  border-bottom-color: #fff;
  position: absolute;
  bottom: 0;
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
}

.latest-block_item {
  width: 30%;
  margin-top: 30px;
}

.latest-block_item:hover .latest-block__image-hover {
  opacity: 1;
}

.latest-block_item:hover .latest-block__discription {
  background: #362f2d;
}

.latest-block_item:hover .latest-block__triangle {
  border-bottom-color: #362f2d;
}

.latest-block__image {
  position: relative;
}

.latest-block__image-hover {
  -webkit-transition: .2s;
  transition: .2s;
  background: #000000a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.latest-block__image-hover-inner {
  max-width: 80px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-block__discription {
  -webkit-transition: .2s;
  transition: .2s;
  background: #fbfaf8;
  text-align-last: left;
  padding: 30px;
}

.latest-block__text {
  color: #c7b299;
  margin: 0;
  font-size: 20px;
}

.latest-block__text2 {
  font-size: 14px;
  color: #d1d1d1;
  margin: 0;
}

.latest__button {
  cursor: pointer;
  margin: auto;
  font-size: 14px;
  width: 170px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  height: 50px;
  -webkit-box-shadow: 0 3px #6d6054;
          box-shadow: 0 3px #6d6054;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  background: #998675;
  -webkit-transition: .15s;
  transition: .15s;
  line-height: 50px;
  margin-top: 40px;
}

.latest__button:hover {
  background: #807062;
}

.latest__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest__link:hover .latest__link-svg {
  fill: #ad9c86;
}

.latest__link-svg {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  width: 30px;
  height: 30px;
  fill: #fff;
}

.latest__lupa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest__lupa:hover .latest__lupa-svg {
  fill: #ad9c86;
}

.latest__lupa-svg {
  cursor: pointer;
  fill: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  width: 30px;
  height: 30px;
}

.presentation {
  margin-top: 80px;
  position: relative;
}

.presentation__video {
  width: 100%;
}

.presentation-inner {
  z-index: 10;
  border-top: 100px solid #fff;
  border-bottom: 80px solid #fff;
  background: #0000006c;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation-inner_block {
  text-align: center;
  max-width: 560px;
  margin: auto;
}

.presentation__button {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
  background: #00000046;
  -webkit-transition: .3s;
  transition: .3s;
}

.presentation__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.presentation__title {
  margin: 0;
  margin-top: 40px;
  font-size: 30px;
  color: #fff;
}

.presentation__discription {
  margin-top: 30px;
  max-width: 560px;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.presentation__time {
  margin-top: 30px;
  font-size: 14px;
  color: #c7b299;
}

.mobile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-phone {
  width: 40%;
}

.mobile-block {
  margin-left: 40px;
  padding-top: 100px;
  width: 60%;
}

.mobile-block__title {
  font-size: 30px;
}

.mobile-block__subtext {
  margin: 0;
  margin-top: 30px;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 28px;
}

.mobile-block_list {
  margin-top: 60px;
}

.mobile-block_list__item {
  width: 90%;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
}

.info {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19, #4e3427);
}

.info-inner {
  padding: 50px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info_item {
  color: #fff;
  width: 20%;
  text-align: center;
}

.info_item::after {
  content: '';
  width: 20%;
  height: 2px;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: #ffffff;
}

.info_item__number {
  margin: 0;
  margin-top: 15px;
  font-size: 48px;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

body {
  font-family: Montserrat, sans;
}

@media (max-width: 1000px) {
  .hero-inner {
    margin: auto;
    margin-top: 10%;
  }
  .hero-slider {
    margin: auto;
  }
  .hero-slider__arrowr {
    display: none;
  }
  .hero-slider__arrowl {
    display: none;
  }
  .hero__subtitle {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 750px) {
  .header__cart-svg {
    display: none;
  }
  .hero__discription {
    font-size: 16px;
  }
  .hero-slider {
    margin-top: 20%;
  }
  .hero__subtitle {
    font-size: 40px;
  }
  .services-inner {
    padding: 0 30px;
  }
  .services-inner_block {
    width: 40%;
  }
  .presentation__video {
    width: 100%;
  }
  .presentation-inner {
    border: none;
    border-bottom: 10px solid #fff;
  }
  .mobile-phone {
    display: none;
  }
  .mobile-block {
    width: 80%;
    padding-top: 40px;
  }
  .mobile-block_list {
    margin-top: 20px;
  }
  .info-inner {
    padding: 50px 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info_item {
    margin-top: 20px;
    width: 30%;
  }
  .info_item__number {
    font-size: 20px;
  }
  .browser-purchase-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .browser-purchase__button {
    margin-top: 10px;
  }
  .latest-block {
    padding: 0 30px;
  }
  .latest-block_item {
    width: 45%;
  }
  .presentation__title {
    margin-top: 20px;
    font-size: 20px;
  }
  .presentation__discription {
    font-size: 16px;
  }
  .presentation__button {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 360px) {
  .presentation__title {
    font-size: 16px;
  }
  .presentation__discription {
    margin-top: 10px;
    line-height: normal;
    font-size: 12px;
  }
  .presentation__button {
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }
  .presentation__time {
    margin-top: 10px;
  }
  .mobile-block_list {
    padding-left: 0;
  }
  .services-inner_block {
    width: 100%;
  }
  .latest-block_item {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */